Repository madfam-io/aureo-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,css,scss}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit'"
  ]
}

Add complete product pages and company sections
  src/app/company/about/page.tsx
  src/app/company/contact/page.tsx
  src/app/products/avala/page.tsx
  src/app/products/cotiza/page.tsx
  src/app/products/dhanam/page.tsx
  src/app/products/factlas/page.tsx
  src/app/products/forge-sight/page.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Fix ESLint errors and build issues for Vercel deployment
  .eslintrc.json
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/health/route.ts
  src/app/api/newsletter/route.ts
  src/app/company/about/page.tsx
  src/app/company/contact/page.tsx
  src/app/developers/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/products/avala/page.tsx
  src/app/products/cotiza/page.tsx
  src/app/products/dhanam/page.tsx
  src/app/products/factlas/page.tsx
  src/app/products/forge-sight/page.tsx
  src/app/products/page.tsx
  src/app/products/penny/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/sections/HeroSection.tsx
  src/components/ui/Button.tsx
  src/lib/accessibility.ts
  src/lib/analytics.ts
  src/lib/seo.ts
  src/test/setup.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add Vercel configuration to specify .next as output directory
  vercel.json
Due: prettier --write

Add pnpm-lock.yaml from codebase audit
  pnpm-lock.yaml
Due: none

Fix critical security vulnerabilities and infrastructure issues
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  public/fonts/.gitkeep
  public/images/README.md
  public/images/logo.svg
  public/images/og/.gitkeep
  public/images/products/.gitkeep
  src/test/setup.ts
  vercel.json
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore: Update configuration and environment files
  .env.example
  Dockerfile
  Dockerfile.dev
  docker-compose.yml
Due: none

chore: ecosystem alignment - standardize pnpm 9.15.0 and framework versions
  package-lock.json
  package.json
Due: prettier --write

chore(license): add Proprietary LICENSE and update package.json
  LICENSE
  package.json
Due: prettier --write

chore: organize documentation structure
  .enclii.yml
  docs/architecture/SOFTWARE_SPEC.md
Due: prettier --write
